{% extends "base.html" %}
{% block content %}
<h1>Tennis Units</h1>

    <style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>
    <body>
    <table>
  <tr>
    <th>Tennis Unit</th>
    <th>Description</th>
    <th>Author</th>
  </tr>
 {% for post in posts %}

  <tr>
    <td>{{ post.title }}</td>
    <td>{{ post.description }}</td>
    <td>{{ post.author.name }}</td>
  </tr>
 {% endfor %}

</table>
</body>
<br>
<p>Click <a href="/logout">here</a> to logout.</p>
<br>
{% endblock %}



